@tailwind base;
@tailwind components;
@tailwind utilities;


/* get Dyhana Regular TTF from fonts */
@font-face {
    font-family: 'Dyhana';
    src: url('../asset/DhyanaRegular.ttf');
    font-weight: 400;
    font-style: normal;
    }

.dyhana {
    font-family: 'Dyhana';
}

html {
    scroll-behavior: smooth;
  }
  
.team {
    left: 0; 
    bottom: 0;
}


.sticky {
    position: fixed;
    width: 100%;
    display: flex;
    top: 0;
    justify-content: center;
    margin-left: 0px;
    margin-top: 0px;
    height: 100px;
    align-items: center;
    z-index: 1000;
  }
  .appeal-img {
    display: block;
  }